{% extends 'base.html' %}


{% block title %}Services{% endblock title %}
{% block body %}
<div class="container-fluid" my-5 px-0>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/600x1500/?icecream" width="1500px" height="400vh" class="d-block w-100"
          alt="3">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1200x900/?icecream" width="110vw" height="400vh" class="d-block w-100"
          alt="2">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1200x900/?icecream,shops" width="110vw" height="400vh"
          class="d-block w-100" alt="1">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="album my-3 text-center">
  <h1>Select Your Favorite Icecream</h1>
  <div class="album" my-3>
    <div class="album py-3 bg-light">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://source.unsplash.com/900x600/?icecream,shops" alt="shops">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Kings Favorite</text>
              

              <div class="card-body">
                <p class="card-text">this is the very tasty.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Unlike</button>
                  </div>
                  <small class="text-muted">Give me Rating</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://source.unsplash.com/900x600/?ice" alt="shops">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Kings Favorite</text>
              

              <div class="card-body">
                <p class="card-text">this is the very tasty.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Unlike</button>
                  </div>
                  <small class="text-muted">Give me Rating</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://source.unsplash.com/900x600/?icecream,king" alt="shops">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Kings Favorite</text>
              

              <div class="card-body">
                <p class="card-text">this is the very tasty.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Unlike</button>
                  </div>
                  <small class="text-muted">Give me Rating</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://source.unsplash.com/900x600/?icecream,family" alt="shops">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Kings Favorite</text>
              

              <div class="card-body">
                <p class="card-text">this is the very tasty.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Unlike</button>
                  </div>
                  <small class="text-muted">Give me Rating</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://source.unsplash.com/900x600/?icecream,soldiers" alt="shops">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Kings Favorite</text>
              

              <div class="card-body">
                <p class="card-text">this is the very tasty.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Unlike</button>
                  </div>
                  <small class="text-muted">Give me Rating</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://source.unsplash.com/900x600/?icecream,boss" alt="shops">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Kings Favorite</text>
              

              <div class="card-body">
                <p class="card-text">this is the very tasty.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Unlike</button>
                  </div>
                  <small class="text-muted">Give me Rating</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://source.unsplash.com/900x600/?princes" alt="shops">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Kings Favorite</text>
              

              <div class="card-body">
                <p class="card-text">this is the very tasty.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Unlike</button>
                  </div>
                  <small class="text-muted">Give me Rating</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://source.unsplash.com/900x600/?icecream,youngmen" alt="shops">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Kings Favorite</text>
              

              <div class="card-body">
                <p class="card-text">this is the very tasty.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Unlike</button>
                  </div>
                  <small class="text-muted">Give me Rating</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://source.unsplash.com/900x600/?icecream,oldmen" alt="shops">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Kings Favorite</text>
              

              <div class="card-body">
                <p class="card-text">this is the very tasty.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Unlike</button>
                  </div>
                  <small class="text-muted">Give me Rating</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://source.unsplash.com/900x600/?icecream,land" alt="shops">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Kings Favorite</text>
              

              <div class="card-body">
                <p class="card-text">this is the very tasty.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Unlike</button>
                  </div>
                  <small class="text-muted">Give me Rating</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://source.unsplash.com/900x600/?icecream,baby" alt="shops">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Kings Favorite</text>
              

              <div class="card-body">
                <p class="card-text">this is the very tasty.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Unlike</button>
                  </div>
                  <small class="text-muted">Give me Rating</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://source.unsplash.com/900x600/?icecream,men" alt="shops">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Kings Favorite</text>
              

              <div class="card-body">
                <p class="card-text">this is the very tasty.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Unlike</button>
                  </div>
                  <small class="text-muted">Give me Rating</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://source.unsplash.com/900x600/?icecream" alt="shops">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Kings Favorite</text>
              

              <div class="card-body">
                <p class="card-text">this is the very tasty.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Unlike</button>
                  </div>
                  <small class="text-muted">Give me Rating</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://source.unsplash.com/900x600/?icecream,shops" alt="shops">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Kings Favorite</text>
              

              <div class="card-body">
                <p class="card-text">this is the very tasty.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Unlike</button>
                  </div>
                  <small class="text-muted">Give me Rating</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://source.unsplash.com/900x600/?icecream,shops" alt="shops">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Kings Favorite</text>
              

              <div class="card-body">
                <p class="card-text">this is the very tasty.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Unlike</button>
                  </div>
                  <small class="text-muted">Give me Rating</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://source.unsplash.com/900x600/?icecream,shops" alt="shops">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Kings Favorite</text>
              

              <div class="card-body">
                <p class="card-text">this is the very tasty.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Unlike</button>
                  </div>
                  <small class="text-muted">Give me Rating</small>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://source.unsplash.com/900x600/?icecream,shops" alt="shops">



              <div class="card-body">
                <p class="card-text">This is my Favarate Icecream.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">list</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">choose</button>
                  </div>
                  <small class="text-muted">Shops</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}